<html>
    <head>
        <title>Express Workshop</title>
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    </head>
    <body>
        <h1>Hi<% if (context.name) { %> <%= context.name %><% } %> 👋</h1>
        <img src="/static/images/<%= context.catImage %>" />
    </body>
</html>
